@{
	ViewBag.Title = "Home Page";
}

<br />

@if (Model != null)
{
	<span style="color: red">@Model</span>
}

@using (Html.BeginForm("Relief", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<label for="file">Data file</label>
	<input id="file" name="file" type="file" />
	<br />
	<input id="skip" name="skip" type="checkbox" checked />
	<label for="skip">First line is column definitions</label>
	<br />
	<span>Result class is:</span>
	<br />
	<input type="radio" id="first-col" name="resultclass" value="0">
	<label for="first-col">First column</label>
	<br>
	<input type="radio" id="last-col" name="resultclass" value="1" checked>
	<label for="last-col">Last column</label>
	<br>
	<label for="separator">Column separator: </label>
	<input type="text" id="separator" name="separator" value=",">
	<br />
	<input id="normalize" name="normalize" type="checkbox" checked />
	<label for="normalize">Normalize values</label>
	<br />
	<label for="k">K (for ReliefF)</label>
	<input id="k" name="k" type="number" value="10" />
	<br />
	<input id="parallel" name="parallel" type="checkbox" checked />
	<label for="parallel">Use parallelism</label>
	<br />
	<input id="sort" name="sort" type="checkbox" />
	<label for="sort">Sort by best columns</label>
	<br />
	<input id="cluster" name="cluster" type="checkbox" checked />
	<label for="cluster">Apply clustering on result</label>
	<br />
	<label for="clusterCount">Number of clusters</label>
	<input id="clusterCount" name="clusterCount" type="number" value="3" />
	<br />
	<label for="clusterProps">Cluster by top properties</label>
	<input id="clusterProps" name="clusterProps" type="number" value="3" />
	<br />
	<input type="submit" />
}